:root {
  --background: #ffffee;
  --larp: #800000;
  --anon: #117743;
  --quote: #000080;
  --greentext: #789922;
}

body {
  background: var(--background);
  color: var(--larp);
  font-family: arial, helvetica, sans-serif;
  font-size: 10pt;

  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;

  padding-left: 5px;
  padding-right: 5px;
}

.catalog {
    height: 100px;
    width: 160px;

    margin-bottom:100px;

}

.catalog img{
    height: 100px;
    width: auto;
}

.little img {
  height: auto;
  width: 125px;
}

.big img {
  height: auto;
  width: 250px;
}

.banner {
  height: 100px;
  width: 300px;
  display: block;
  margin: auto;
}

.damn {
  height: 90px;
  width: 700px;
  display: block;
  margin: auto;
}

.header {
  text-align: center;
}

.thingy {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.extrason {
  white-space: nowrap;
}

.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  margin-left: 30px;
}

.line {
  text-align: left;
  display: flex;
  gap: 10px;
}

.bottom{
    margin-top: 300px;
}






.little img {
  height: auto;
  width: 125px;
}

.big img {
  height: auto;
  width: 250px;
}

.banner {
  height: 100px;
  width: 300px;
  display: block;
  margin: auto;
}

.damn {
  height: 90px;
  width: 700px;
  display: block;
  margin: auto;
  padding-top: 10px;
}

.header {
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--larp);
}

.thingy {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.extrason {
  white-space: nowrap;
}

.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid var(--larp);
  border-bottom: 1px solid var(--larp);
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
  max-width: 600px;
}

main {
  margin-left: 30px;
}

.line {
  border-top: 1px solid var(--larp);
  text-align: left;
  display: flex;
  gap: 10px;
  padding-top: 10px;
}

.animanga {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--larp);
  max-width: 1200px;
  margin: auto;
}