:root {
  --background: #ffffee;
  --larp: #800000;
  --anon: #117743;
  --quote: #000080;
  --greentext: #789922;
  --backbox: #f0e0d6;
  --box: #d9bfb7;
  --fio: #eeaa88;
  --linka: #0000ff;
  --grandiente: #fed6af;
  --ommited: #b8b8b8;
}

body {
  background: linear-gradient(
    to bottom,
    var(--grandiente),
    var(--background) 200px
  );
  color: var(--larp);
  font-family: arial, helvetica, sans-serif;
  font-size: 10pt;

  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;

  padding-left: 5px;
  padding-right: 5px;
}

.little img {
  height: auto;
  width: 125px;
  float: left;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.op img {
  height: auto;
  width: 250px;
  float: left;
  margin-right: 20px;
}

.banner {
  height: 100px;
  width: 300px;
  display: block;
  margin: auto;
}

.damn {
  height: 90px;
  width: 700px;
  display: block;
  margin: auto;
  padding-top: 10px;
  border-bottom: 1px solid var(--larp);
  padding-bottom: 10px;
}

.header {
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--larp);
}

.thingy {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.extrason {
  white-space: nowrap;
}

.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid var(--larp);
  border-bottom: 1px solid var(--larp);
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
  max-width: 600px;
}

main {
  margin-left: 30px;
}

.line {
  border-top: 1px solid var(--larp);
  text-align: left;
  display: flex;
  gap: 10px;
  padding-top: 10px;
}

.animanga {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--larp);
  max-width: 1200px;
  margin: auto;
  padding-top: 10px;
}

.ad {
  margin-top: 10px;
  margin-bottom: 10px;
}
.clickablesReply {
  display: block;
  text-align: center;
}

.line-botton {
  border-top: 1px solid var(--larp);
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
  border-bottom: 1px solid var(--larp);
  padding-bottom: 10px;
}

.numbers {
  flex: 1;
  text-align: right;
}

.clickables-botton {
  flex: 1;
  text-align: left;
}

.botton-ad {
  flex: 1;
  text-align: center;
  border-bottom: 1px solid var(--larp);
  padding-bottom: 10px;
  padding-top: 10px;
}

.extra {
  justify-content: space-between;
  text-align: right;
  padding-bottom: 10px;
  margin-top: 10px;
}

.bottom-of-bottom {
  text-align: center;
}

.Anon {
  color: var(--anon);
  font-weight: bold;
}

.master {
  text-align: left;
}

.little {
  width: fit-content;
  display: table;
  background: var(--backbox);
  border: 1px solid var(--box);
  margin-bottom: 6px;
}

.quote {
  color: var(--quote);
  display: block;
  margin-top: 12px;
  text-decoration: underline;
}

.reply {
  margin-left: 10px;
}

.mega {
  margin-left: 30px;
  margin-bottom: 15px;
}

.quotegrande {
  margin-right: 10px;
}

.jump {
  margin-right: 5px;
}

.grand {
  color: var(--linka);
  margin-top: 5px;
  margin-bottom: 5px;
}

.catalog img {
  height: auto;
  width: 150px;
}

.catalog {
  width: 150px;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ammount {
  display: block;
  font-weight: bold;
  font-size: 9pt;
}

.lines {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--larp);
  gap: 10px;
  padding-top: 10px;
}

.thread-list {
  max-width: max-content;
  margin: auto;
}

.count {
  display: block;
  font-weight: bold;
  font-size: 11pt;
  text-align: center;
}

.threads th {
  border: 1px solid var(--larp);
  background-color: var(--fio);
}
.threads tbody tr:nth-child(odd) {
  background: var(--backbox);
}

.ommited {
  color: var(--ommited);
  font-size: 9pt;
}

.botton-of-ad {
  flex: 1;
  text-align: center;
  border-bottom: 1px solid var(--larp);
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid var(--larp);
}

.extra-extra {
  color: var(--linka);
  background: var(--backbox);
  padding: 7px;
}

.extra-extra-extra {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-top: 10px;
}

.lol {
  padding: 0 10px;
  border-left: 1px solid var(--larp) 2;
}
